@import "./normalize";
@import "./fonts";
@import "./general";
@import "./variables";

// Header section

%flex-container-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__section1 {
  background-color: $clr-bg-gray-700;
}

.header__container1 {
  padding: 10px 15px;
}

.header__container1 nav {
  @extend %flex-container-style;
  width: 100%;
  font-size: $fs-12px;
  font-weight: $fw-medium;
  a {
    font-size: inherit;
    font-weight: inherit;
    color: $clr-text-gray-900;
    &:hover {
      color: $clr-text-black-900;
    }
  }
}

.header__contact-info {
  @extend %flex-container-style;
  gap: 24px;
}

.header__main-nav {
  @extend %flex-container-style;
  gap: 24px;
}

.header__container2 {
  display: flex;
  padding: 10px 15px;
  gap: 33.5px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 700;
  .logo__text--blue {
    color: $clr-text-blue-900;
  }
  .logo__text--red {
    color: $clr-text-red-800;
  }
  button,
  .location-on-mobile {
    display: none;
  }
}
.fixed-header {
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  right: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 14px 0px;
  backdrop-filter: blur(10px);
  .input-wrapper {
    border-color: #c2bebe !important;
    }
z-index: 10;
}

.search-bar {
  @extend %flex-container-style;
  gap: 16px;
  width: 100%;
  button {
    padding: 12px 16px;
    border: none;
    background: $clr-bg-red-800;
    border-radius: 14px;
    color: $clr-text-white-800;
    font-weight: $fw-semibold;
    font-size: $fs-14px;
    &:hover {
      background-color: $clr-bg-red-900;
    }
  }
  & > button {
    white-space: nowrap;
  }
  .input-wrapper {
    @extend %flex-container-style;
    border-radius: 14px;
    border: 1px solid $clr-bg-gray-800;
    width: 100%;
    height: 100%;
    input {
      margin-right: 20px;
      margin-left: 20px;
      border: none;
      width: 100%;
      background: transparent;
      &:focus {
        outline: none;
      }
    }
  }
}

.user-specific-nav {
  @extend %flex-container-style;
  gap: 24px;
  li a {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
    font-size: $fs-14px;
    i {
      color: #0b2b5e;
    }
    &:hover {
      color: $clr-text-red-900;
      filter: invert(13%) sepia(87%) saturate(5323%) hue-rotate(12deg)
        brightness(95%) contrast(86%);
      i {
        color: $clr-text-red-900;
      }
    }
  }
  i,
  img {
    width: 24px;
    height: 24px;
    font-size: 18px;
  }
  span {
    white-space: nowrap;
  }
}

// Categories section

.categories__container {
  overflow: hidden;
}

.categories__list {
  display: flex;
  gap: 19px;
  white-space: nowrap;
  padding-right: 15px;
  padding-left: 15px;
  a {
    font-size: $fs-14px;
    font-weight: $fw-medium;
    color: $clr-text-gray-900;
    &:hover {
      color: $clr-text-black-900;
    }
  }
  .discounts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fs-12px;
    background-image: url("../images/background-image-svg.svg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: $clr-bg-white-900;
    width: 100px;
    height: 25px;
    position: relative;
    &:hover::before {
      content: "";
      background-color: rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// Carousel section

.carousel__container {
  position: relative;
  max-width: 1440px;
  margin-top: 32px;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel img {
  height: 100%;
  flex: 1;
  object-fit: cover;
  max-width: 100%;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  color: #fff;
}

.prev-button {
    left: 25px;
}
.next-button {
  right: 25px;
}

// Popular categories section

.popular-categories__container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: baseline;
    padding-right: 15px;
    padding-left: 15px;
}

.popular-categories__icon-wrapper {
    padding: 10px;
    background-color: $clr-bg-red-700;
    border-radius: 10px;
    svg {
        stroke: $clr-text-red-800;
    }
}

.popular-categories-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px;
        border-radius: 18px;
        width: 100%;
        border: 1px solid $clr-bg-white-900;
        font-weight: $fw-semibold;
        font-size: $fs-16px;
    }
}

// New-products section

.new-products__container {
    margin-top: 32px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.block__description {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.product-block-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    .product-block-wrapper__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        max-width: 215px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 12px;
        overflow: hidden;
        h2 {
            z-index: 1;
        }
        & > img {
            transition: all 0.3s ease-in;
        }
        &:hover {
            border: 1px solid $clr-bg-gray-800;
            & > img {
                transform: scale(1.08);
                filter: brightness(1.05);
                z-index: -1;
            }
        }
    }
}

.price {
    font-size: $fs-20px;
    color: $clr-text-black-900;
    font-weight: bolder;
    display: block;
    margin-bottom: 8px;
}

.price-per-month {
    border-radius: 10px;
    padding: 4px 12px;
    font-weight: $fw-medium;
    color: $clr-text-blue-900;
    border: 1px solid $clr-text-black-900;
    display: block;
    margin-bottom: 12px;
    width: max-content;
}

.description__name {
    margin-top: 12px;
    font-size: $fs-14px;
    line-height: 1.5em;
    font-weight: $fw-regular;
    color: $clr-text-gray-900;
    margin-bottom: 12px;
}

.description__stars {
    color: $clr-bg-star;
    margin-bottom: 12px;
    span {
        font-size: $fs-14px;
        font-weight: $fw-medium;
        color: $clr-text-gray-900;
    }
}

.description__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    button {
        padding: 14px;
        border-radius: 10px;
    }
    & > :first-child {
        background-color: $clr-bg-red-800;
        color: white;
        &:hover {
            background-color: $clr-bg-red-900;
        }
    }
    & > :not(:first-child) {
        color: $clr-bg-gray-900;
        background-color: $clr-bg-gray-700;
        &:hover {
            background: $clr-bg-gray-800;
        }
    }
}

.product-block-wrapper__block {
    & > img {
        width: 190px;
        height: 190px;
    }
}

.new-products__container > button {
    position: absolute;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.04);
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    height: 45px;
    z-index: 1;
    background-color: white;
}

.new-products__left-arrow {
    left: -20px;
    top: 50%;
}
.new-products__right-arrow {
    top: 50%;
    right: -20px;
}

// Popular product

.popular-product__container {
    margin-top: 32px;
    margin-bottom: 32px;
}

.popular-product-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.popular-product-wrapper__block {
    max-width: 215px;
    margin-top: 16px;
    position: relative;
    cursor: pointer;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    &:hover {
        & > img {
            transform: scale(1.08);
            filter: brightness(1.05);
            z-index: -1;
        }
    }
    h2 {
        z-index: 1;
    }
    & > img {
        transition: all 0.3s ease-in;
        width: 190px;
        height: 190px;
        z-index: -1;
    }
    &:hover {
        border: 1px solid $clr-bg-gray-800;

    }
}

.popular__price-per-month {
    font-size: $fs-12px;
    font-weight: $fw-semibold;
    padding: 6px 8px;
    background-color: $clr-bg-red-600;
    border-radius: 6px;
    color: $clr-text-red-800;
}

.popular-description__buttons {
    .buttons__add-to-cart {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 14px;
        width: 100%;
        color: $clr-text-white-800;
        background-color: $clr-bg-red-800;
        &:hover {
            background-color: $clr-bg-red-900;
        }
    }
    .buttons__heart {
        color: $clr-bg-gray-900;
        font-size: 20px;
        position: absolute;
        right: 13px;
        top: 10px;
    }
}

// Laptops section

.laptops__container {
    margin-top: 32px;
    margin-bottom: 32px;
}

.laptops__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.wrapper__block {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 215px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 12px;
    overflow: hidden;
    &:hover {
        border: 1px solid $clr-bg-gray-800;
        & > img {
            z-index: -1;
            filter: brightness(1.05);
            transform: scale(1.08);
        }
    }
    & > img {
        z-index: -1;
        width: 190px;
        height: 190px;
        transition: all 0.3s ease-in;
    }
}

.laptops-block-description {
    .description__stars {
        text-align: center;
    }
    .laptop-description {
        font-size: $fs-14px;
        margin-top: 12px;
        color: $clr-text-gray-900;
        line-height: 1.5em;
        text-align: center;
        min-height: 38px;
        margin-bottom: 12px;
    }
.laptop__price {
    text-align: center;
}
    .laptop__price--bold {
        font-weight: $fw-bold;
        font-size: $fs-20px;
        text-align: center;
    }
    .laptop__price--month {
        margin-top: 12px;
        padding: 2px;
        background-color: $clr-bg-gray-700;
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: $fw-medium;
        text-align: center;
        border-radius: 10px;
        height: 100%;
        font-size: $fs-14px;
        & > :first-child {
            background-color: $clr-bg-white-800;
            border-radius: 10px;
            padding: 7px 25px;
        }
        & > :nth-child(2) {
            min-width: max-content;
            padding: 5px 25px;
            font-size: $fs-14px;
            font-weight: $fw-medium;
        }
    }
}

// Popular brands

.popular-brands__container {
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
    & > button {
        position: absolute;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,.04);
        border-radius: 50%;
        padding: 10px;
        width: 45px;
        height: 45px;
        z-index: 1;
        background-color: white;
        font-size: 20px;
    }
}

.popular-brands-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 16px;
    &__block {
        border-radius: 20px;
        border: 2px solid $clr-bg-white-900;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        img {
            transition: 0.2s all ease-in;
            filter: grayscale(100%)
        }
        &:hover {
            img {
                transform: scale(1.08);
                filter: grayscale(0)
            }
        }
    }
}
.popular-brands__left-arrow {
    left: 0;
    top: 50%;
}
.popular-brands__right-arrow {
    right: 0;
    top: 50%;
}

// Why-us section

.why-us__container {
    margin-bottom: 72px;
    h2 {
        margin-bottom: 16px;
    }
}

.why-us__block-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    .why-us__block {
        border: 2px solid $clr-bg-white-900;
        padding: 16px;
        border-radius: 20px;
        .why-us-block-img {
            width: 48px;
            height: 48px;
            background-color: $clr-bg-red-600;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h4 {
            font-size: $fs-16px;
            font-weight: $fw-bold;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        p {
            font-size: $fs-14px;
            font-weight: $fw-regular;
            color: $clr-text-gray-900;
        }
    }
}

// Call to action section

.cta {
    background-color: $clr-bg-blue-800;
}

.cta__container {
    padding: 45px 15px;
    position: relative;
    h3 {
        font-size: $fs-32px;
        font-weight: $fw-bold;
    }
    p {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: $fs-16px;
        line-height: 1.5em;
        font-weight: $fw-regular;
        max-width: 368px;
        color: $clr-bg-gray-900;
    }
}
.cta__button-group {
    display: flex;
    gap: 15px;
}

.cta picture {
    position: absolute;
    right: 0;
    bottom: 0;
}
// Footer section

.footer {
    color: $clr-text-white-800;
}

.footer__main {
    background-color: $clr-bg-black-900;
}

.footer__container {
    padding: 64px 15px 48px;
    display: flex;
    justify-content: space-around;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    font-size: $fs-14px;
    font-weight: medium;
    & > a {
        font-weight: $fw-bold;
        font-size: $fs-16px;
        color: $clr-bg-white-800;
    }
}

.footer ul {
    & > :first-child {
        font-size: $fs-14px;
        font-weight: $fw-bold;
        margin-bottom: 5px;
        color: $clr-text-white-800;
    }
    & > :not(:first-child) a {
        font-weight: $fw-medium;
        font-size: $fs-14px;
        color: $clr-text-white-900;
    }
}

.footer__info,
.footer__services,
.footer__for-customers {
    display: flex;
    gap: 13px;
    flex-direction: column;
    width: max-content;
    a {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}
.footer__for-cusomers {
    margin-right: 100px;
}
.footer__logo {
    font-size: 30px;
}
.footer__ready-to-answer {
    margin-top: 32px;
    margin-bottom: 10px;
    max-width: max-content;
}

.footer__working-time {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: $fw-bold;
    font-size: $fs-16px;
}
.footer__working-schedule {
    margin-top: 16px;
}
.footer__payment-ways {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    & > :first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
    & > :not(:first-child) {
        width: 144px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;   
        background-color: rgb(34 44 58); 
        border-radius: 12px;
    }
}

.copyright {
    background-color:rgb(34, 44, 58);
}

.copyright__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    .copyright__social-links {
        display: flex;
        align-items: center;
        gap: 30px;
        img {
            width: 25px;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(114deg) brightness(107%) contrast(101%);
        }
    }
}

// Mobile nav section 

.mobile-nav {
    display: none;
}

.mobile-nav__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $clr-text-gray-900;
        gap: 5px;
        cursor: pointer;
        &:hover {
            color: $clr-bg-blue-900;
            i {
                color: $clr-text-red-800;
            }

        }
    }

}
@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
  .user-specific-nav {
    gap: 12px;
  }
}
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
    .prev-button,
    .next-button {
        width: 40px;
        height: 40px;
        i {
            font-size: 14px;
        }
    }
    .popular-categories-wrapper {
        grid-template-columns: repeat(5, 1fr);
        & > :last-child {
            display: none;
        }
    }
    .product-block-wrapper {
        grid-template-columns: repeat(4, 1fr); 
        & > :nth-last-child(1),
        & > :nth-last-child(2) {
            display: none;
        }
    }
    .popular-categories-wrapper {
        grid-template-columns: repeat(4, 1fr);
        & > :nth-last-child(1),
        & > :nth-last-child(2) {
            display: none;
        }
    }

    .product-block-wrapper {
        grid-template-columns: repeat(4, 1fr);
        & > :nth-last-child(1),
        & > :nth-last-child(2) {
            display: none;
        }
    }
    .popular-product-wrapper {
        grid-template-columns: repeat(4, 1fr);
        & > :nth-last-child(1),
        & > :nth-last-child(2) {
            display: none;
        }
    }
    .laptops__wrapper {
        grid-template-columns: repeat(4, 1fr);
        & > :nth-last-child(1),
        & > :nth-last-child(2) {
            display: none;
        }
    }
    .popular-brands-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        & > :nth-last-child(1),
        & > :nth-last-child(2) {
            display: none;
        }
    }
    .why-us__block-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        & > :nth-last-child(1),
        & > :nth-last-child(2) {
            display: none;
        }
    }
    .new-products__left-arrow {
        left: 0;
    } 
    .new-products__right-arrow {
        right: 0;
    }
}

@media (max-width: 1100px) {
    .product-block-wrapper {
        grid-template-columns: repeat(3, 1fr); 
        & > :nth-last-child(3) {
            display: none;
        }
    }
    .popular-categories-wrapper {
        grid-template-columns: repeat(3, 1fr);
        & > :nth-last-child(3) {
            display: none;
        }
    }

    .product-block-wrapper {
        grid-template-columns: repeat(3, 1fr);
        & > :nth-last-child(3) {
            display: none;
        }
    }
    .popular-product-wrapper {
        grid-template-columns: repeat(3, 1fr);
        & > :nth-last-child(3) {
            display: none;
        }
    }
    .laptops__wrapper {
        grid-template-columns: repeat(3, 1fr);
        & > :nth-last-child(3) {
            display: none;
        }
    }
}
@media (max-width: 1024px) {
    .header__section1 {
        display: none;
    }
    .search-bar > button {
        display: none;
    }
    .user-specific-nav {
    display: none;
}
.mobile-nav {
    display: block;
  }
  .footer {
      display: none;
  }
  .header__logo {
    button,
    .location-on-mobile {
      display: block;
    }
  }
  .header__container2 {
      flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.header__logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    span {
        font-size: 26px;
    }
}
.prev-button,
.next-button {
    width: 30px;
    i {
        font-size: 12px;
    }
}
.popular-categories-wrapper {
    grid-template-columns: repeat(4, 1fr);;
    & > :nth-last-child(2) {
        display: none;
    }
}
}
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .container {
        overflow: hidden;
    }
    .prev-button,
    .next-button {
        width: 25px;
        height: 25px;
      padding: 0;
      i {
          font-size: 10px;
        }
    }
    .product-block-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr)); 
        & > :nth-last-child(3) {
            display: none;
        }
        &__block {
            min-width: 200px;
        }
    }
    .popular-categories-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        & > :nth-last-child(3) {
            display: none;
        }
        &__block {
            min-width: 200px;
        }
    }
    
    .product-block-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        & > :nth-last-child(3) {
            display: none;
        }
        &__block {
            min-width: 200px;
        }
    }
    .popular-product-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        & > :nth-last-child(3) {
            display: none;
        }
        &__block {
            min-width: 200px;
        }
    }
    .laptops__wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        & > :nth-last-child(3) {
            display: none;
        }
        &__block {
            min-width: 200px;
        }
    }
    .popular-categories__container {
        overflow: hidden;
    }
    .popular-categories-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        & > :nth-last-child(3) {
            display: none;
        }
        a > span {
            font-size: $fs-12px;
        }
        svg {
            width: 20px;
            height: 20px;
        }
        &__block {
            min-width: 200px;
        }
    }
    .popular-brands-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        &__block {
            min-width: 200px;
        }
        & > :nth-last-child(3) {
            display: none;
        }    
    }
    .why-us__block-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        &__block {
            min-width: 200px;
        }
        & > :nth-last-child(3) {
            display: none;
        }
    }
    .cta {
        display: none;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .popular-categories-wrapper {
        grid-template-columns: repeat(2, 1fr);
        & > :nth-last-child(4) {
            display: none;
        }
    }
}